Package: microzon-customer
Version: @version@
Section: misc
Priority: extra
Architecture: all
Depends:
Installed-Size: 8
Maintainer: Bodo Junglas <landru@untoldwind.net>
Homepage: http://github.com/leanovate/microzon
Description: Customer service
